---
layout: page
title: "Anmol : अनमोल"
subtitle: Student / Seeker / Mortal 
css: "/css/index.css"
bigimg: 
  - "/img/IMG_20141218_082202057.jpg": "Taj mahal, Agra, India (2014)"
  - "/img/Dehradun.jpg": "Morning, Dehradun, India (2015)"
  - "/img/IMG_20160520_141316_HDR.jpg": "Sbalzarini lab@ Max Planck Institute-CBG, Germany (2016)"
  - "/img/IMG_20160520_190903_HDR.jpg": "Workspace@Max Planck Institute-CBG, Germany (2016)"
  - "/img/IMG_20161230_132847_HDR.jpg": "Ardore 2.1 Restaurant , New Delhi, India (2016)"
  - "/img/kasol.jpg": "Kheerganga Valley, Kasol, India (2016)"
  - "/img/TransparentFactoryVolkswagen.jpg": " Volkswagen Transparent Factory, Dresden, Germany (2016)"
  - "/img/Amsterdam.jpg": "Cheese shop, Amsterdam, Netherlands (2016)"
  - "/img/shimla.jpg": "Kalka–Shimla Railway, India (2017)"
  - "/img/IndianInstituteofAdvancedStudy.jpg": "Indian Institute of Advanced Study, Shimla. India (2017)"
  - "/img/cover.jpg": "Saxony Switzerland, Saxony, Germany (2017)"
  - "/img/poland.jpg": "Wroclaw, Poland (2017)"
  - "/img/berlintreat.jpg": "BITSIAN day, Berlin, Germany (2017)"
  - "/img/above.jpg": "Somewhere Above Deutschland (2017)"


---

<div class="index-posts-title">Blog</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
